/*
#282828 dark grey
#0C0032 Dark blue
#190061 Slightly lighter blue
#240090 lighter blue
#3500D3 blue

#c0bfbf light grey
#ffffff white
*/
:root {
  --dark-color1: #404040;
  --dark-color2: #140b31;
  --main-color3: #2a253a;
  --main-color2: #553d9b;
  --main-color1: #a087eb;
  --light-color1: #ffffff;
  --light-color2: #c0bfbf;
}
.App {
  text-align: center;
}
.font-righteous-title {
  font-family: "RighteousRegular";
  font-size: 4rem;
}

.font-righteous {
font-family: "RighteousRegular";
font-size: 1rem;
}

model-viewer {
  height: 100vh;
}

.verticaltext{
  height: 100vh;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -0.4em;
  padding-bottom: 1rem;
  background: linear-gradient(to bottom, var(--main-color2), var(--main-color3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-1 {
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom, var(--light-color1), var(--light-color2));
}

.background-2 {
  position: relative;
  background: linear-gradient(to bottom right, var(--main-color3), var(--main-color1));
}
.menu-button {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  vertical-align: middle;
}

.menu-button:hover {
  background-color: #1d1d1d;
}

.menu-button:active {
  background-color: #505050;
}

.framework-icon {
  width: auto;
  height: 90px;
}

.menu-icon {
  width: auto;
  height: 50px;
}

.framework-icon-name {
  color: white;
}

p {
  color:white;
  font-family: "Oxanium-light";
}

h1 {
  color:white;
  font-family: "Oxanium-medium";
}

h2 {
  color:white;
  font-family: "Oxanium-medium";
}

h5 {
  color: white;
  font-family: "Oxanium-medium";
}
