
:root {
  --card-color: #797979;

  --content-background-left: #979797;
  --content-background-right: #8575B1;

  --top-color: #c5c5c5;
  
  --accent-color: rgb(255, 255, 255);
  --navbar-color: #000000;
}
body {
  max-width: 100%;
  overflow: overlay;
}
.font-righteous-title {
  font-family: "RighteousRegular";
  font-size: 4rem;
}

.font-righteous {
font-family: "RighteousRegular";
font-size: 1rem;
}

.font-righteous-subtitle {
  font-family: "RighteousRegular";
  font-size: 3.6rem;
  margin-top: 1rem;
  }

model-viewer {
  height: 100vh;
}
.verticaltext{
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -0.4em;
  padding-bottom: 1rem;
  color: var(--accent-color);
  font-family: "RighteousRegular";
}
.titletext {
  height: 100vh;
  color: white;
  text-align: center;
}
.background-1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: var(--top-color);
}

.background-2 {
  overflow: hidden;
  width: 100vw;
  position: relative;
}
.background-3 {
  width: 100vw;
  position: relative;
  height: 100vh;
  background: var(--top-color);
}
.background-color-left {
  background: var(--content-background-left)
}
.background-color-right {
  background: var(--content-background-right)
}
.content-container {
  display: flex;
  flex-wrap: wrap;
}
.horizontal-content{
  flex-grow: 1;
}
.navbar-color {
  color: var(--navbar-color);
  transition: color 1s ease-in-out;
}
.menu-button {
  font-family: "RighteousRegular";
  font-size: 1.5rem;
  background-color: transparent;
  position: relative;
  display: inline-block;
}
.menu-button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--navbar-color);
  bottom: 0;
  left: 0;
  transition: width 0.6s ease;
}

.menu-button:hover::before {
  width: 100%;
}
.menu-button:hover {
  cursor: pointer;
}
.menu-button:active {
  background-color: #505050;
}

.framework-icon {
  width: auto;
  height: 8vh;
}

.framework-icon-name {
  color: white;
}
.vertical-overflow {
  overflow: hidden;
}
.horizontal-line {
  border-top: 2px solid #ffffff;
}
p {
  color:white;
  font-family: "Oxanium-light";
}

h1 {
  color: var(--accent-color);
  font-family: "RighteousRegular";
  text-align: center;
}

h2 {
  color:var(--accent-color);
  font-family: "Oxanium-medium";
}

h3 {
  color: white;
  font-family: "Oxanium-medium";
}
h4 {
  color: var(--accent-color);
  font-family: "Oxanium-medium";
}

h5 {
  color: white;
  font-family: "Oxanium-medium";
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}