
:root {
  --card-color: #494949;

  --content-background-left: #554b40;
  --content-background-right: #3e5239;

  --top-color: #b6d5c7;
  /*e8f6ef */
  --accent-color: #ffe194;
  --navbar-color: #fcfcfc;
  --shadow-color: #933737;

  --background-color-1: #664f36;
  --background-color-2: #8d7e5e;
}
body {
  max-width: 100%;
  overflow: overlay;
  overflow-x: hidden ;
}
.font-righteous-title {
  font-family: "RighteousRegular";
  font-size: 4rem;
}
.font-righteous {
  font-family: "RighteousRegular";
  font-size: 1rem;
}

.font-righteous-subtitle {
  font-family: "RighteousRegular";
  margin-top: 1rem;
  }

model-viewer {
  height: 100vh;
}
.verticaltext{
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -0.4em;
  padding-bottom: 1rem;
  color: var(--accent-color);
  font-family: "RighteousRegular";
  text-shadow: 2px 2px var(--shadow-color);
}
.horizontal-text {
  color: var(--accent-color);
  font-family: "RighteousRegular";
  text-shadow: 2px 2px var(--shadow-color);
}
.titletext {
  height: 100vh;
  color: var(--accent-color);
  text-align: center;
  text-shadow: 2px 2px var(--shadow-color);
}
.background-1, .background-2, .background-3 {
  width: 100vw;
}
.background-1 {
  height: 100vh;
  background: radial-gradient(var(--background-color-2),var(--background-color-1));
}
.background-2 {
  background: radial-gradient(var(--background-color-2),var(--background-color-1));
}
.background-3 {
  background: radial-gradient(var(--background-color-2),var(--background-color-1));
}

.background-color-left {
  background: var(--content-background-left);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.background-color-right {
  background: var(--content-background-right);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.left-content-container {
  border-right: var(--top-color);
  box-shadow: rgba(50, 50, 93, 0.5) 0px 25px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
}
.right-content-container { 
  border-left: var(--top-color);
  box-shadow: rgba(50, 50, 93, 0.5) 0px 25px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
}
.description-text {
  padding-left: 5%;
  padding-right: 5%;
  hyphens: auto; 
  display: inline-block;
	text-align: justify;
}
.content-container {
  display: flex;
  flex-wrap: wrap;
}
.horizontal-content{
  flex-grow: 1;
}
.navbar-color {
  color: var(--navbar-color);
  transition: color 0.5s ease-in-out;
}
.navbar-title {
  font-family: "RighteousRegular";
  font-size: 1.5rem;
  text-shadow: 2px 2px var(--shadow-color);
  color: var(--accent-color);
}
.fade-object {
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
}
.fade-out {
  transform: translateY(0);
}
.menu-button {
  font-family: "RighteousRegular";
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  text-shadow: 2px 2px gray;
}
.menu-button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--navbar-color);
  bottom: 0;
  left: 0;
  transition: width 0.6s ease;
}

.menu-button:hover::before {
  width: 100%;
}
.menu-button:hover {
  cursor: pointer;
}
.menu-button:active {
  background-color: #505050;
}
.vertical-overflow {
  overflow: hidden;
}
.horizontal-line {
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  border-top: 3px solid white;
  box-shadow: 2px 2px var(--shadow-color);
}
p {
  color:white;
  font-family: "Oxanium-light";
}

h1 {
  color: var(--accent-color);
  font-family: "RighteousRegular";
  text-align: center;
  font-size: 3.6rem;
  text-shadow: 2px 2px var(--shadow-color);
}

h2, h3, h4, h5 {
  color: var(--accent-color);
  font-family: "RighteousRegular";
}
footer {
  background-color: #4c4c6d;
}
/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}