/* #b6d5c7, #8ac3ae, #90a4b8, #e6ccaf*/
.framework-icon {
    width: 60px;
    aspect-ratio: 2/2;
    object-fit: contain;
}  
.framework-icon-name {
    color: white;
    font-family: "Oxanium-light";
}

.frameworks {
    border: 1px solid var(--line-color);
    border-radius: 5px;
    background-color: transparent;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frameworks-title {
    display: block;
    margin-left: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    position: relative;
    top: 8px;
    height: 20px;
    background-blend-mode: difference;
    background-color: var(--content-background-right);
    color: white;
    font-family: "Oxanium-light";
    width: fit-content;
}

.frameworks-content {
    display: flex;
    position: relative;
    left: 0;
    padding-top: .6em;
    padding-left: .5em;
    padding-right: .5em;
}

.frameworks-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
