.project-card {
    width: 90%;
    background-color: transparent;
    border: none;
}
.project-card:hover {
    transform: scale(1.1);
}
.project-card-body {

}
.project-card-image {

}
.project-card-title {
    font-size: 3vh;
}
.project-card-text {
    hyphens: auto; 
    display: inline-block;
	text-align: justify;
    color: white;
}

.modal-content {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.modal-dialog {
    max-width: 800px; 
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - (1.75rem * 5));
}