.project-card {
    border-radius: 1rem;
    background: linear-gradient(to bottom, var(--dark-color2), var(--dark-color1));
    padding: 1rem;
    transition: all .2s ease-in-out;
    height: 50vh;
    min-width: 150px;
    max-width: 400px;
    width: 80%;
    box-shadow: inset 0px 0px 20px rgba(167, 153, 107, 0.4);
    
}
.project-card:hover {
    transform: scale(1.1);
}
.project-card-body {
    height: 50%;
    overflow: hidden;
}

.project-card-image {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}


.modal-content {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.modal-dialog {
    max-width: 800px; 
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - (1.75rem * 5));
}