.timeline-item {
    text-align: left;
    width: 80%;
    word-wrap: break-word;
    background: linear-gradient(to bottom, var(--dark-color2), var(--dark-color1));
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.timeline-secondary-item {
    margin-left: 15%;
}