body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "RighteousRegular";
  src: local("RighteousRegular"),
    url("./fonts/Righteous/Righteous-Regular.ttf") format("truetype");
  }

@font-face {
  font-family: "Baloo_2";
  src: local("Baloo_2"),
    url("./fonts/baloo_2/Baloo2-VariableFont_wght.ttf") format("truetype");
  }

@font-face {
  font-family: "Oxanium-light";
  src: local("Baloo_2"),
    url("./fonts/Oxanium/Oxanium-Light.ttf") format("truetype");
  }

@font-face {
  font-family: "Oxanium-medium";
  src: local("Baloo_2"),
    url("./fonts/Oxanium/Oxanium-Medium.ttf") format("truetype");
  }
